{% extends 'base.html.twig' %}

{% block title %}Ajouter un jeu vidéo{% endblock %}

{% block body %}
    <h1>Ajouter un jeu vidéo</h1>

    {{ include('jeu_video/_form.html.twig') }}

    <div class="d-flex gap-2 mt-3">
        <button type="submit" form="main-form" class="btn btn-primary">Ajouter</button>
        <a href="{{ path('app_jeu_video_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
{% endblock %}
