{% extends 'base.html.twig' %}

{% block title %}Ajouter un Editeur{% endblock %}

{% block body %}
    <h1>Ajouter un Editeur</h1>

    {{ include('editeur/_form.html.twig') }}

    <a href="{{ path('app_editeur_index') }}">Retour à la liste des éditeurs</a>
{% endblock %}
