<form method="post" action="{{ path('app_developpeur_delete', {'id': developpeur.id}) }}" onsubmit="return confirm('Confirmer la suppression du développeur {{ developpeur.nom }} ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ developpeur.id) }}">
    <button class="btn btn-danger">Supprimer ce développeur</button>
</form>
