{% extends 'base.html.twig' %}

{% block title %}Nouveau Développeur{% endblock %}

{% block body %}
    <h1>Ajouter un développeur</h1>

    {{ include('developpeur/_form.html.twig') }}

    <div class="d-flex gap-2 mt-3">
        <button type="submit" form="main-form" class="btn btn-primary">Ajouter</button>
        <a href="{{ path('app_developpeur_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
{% endblock %}
