{% extends 'base.html.twig' %}

{% block title %}Nouveau Développeur{% endblock %}

{% block body %}
    <h1>Ajouter un développeur</h1>

    {{ include('developpeur/_form.html.twig') }}

    <div style="margin-top: 20px;">
        <a href="{{ path('app_developpeur_index') }}">Retour à la liste de développeurs</a>
    </div>
{% endblock %}
